.main-container {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    overflow: hidden;
    max-width: 100%;
}

.error-message {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 100%;
}

.error-container {
    text-align: center;
    color: black;
}

h1 {
    font-size: 18px;
    text-align: left;
    margin: 30px;
    overflow: hidden;
}
p {
    font-size: 10px;
    text-align: center;
    color: gray;
    overflow: hidden;
}

.text1 {
    color: black;
    font-size: 28px;
    margin-top: 100px;
    margin-left: 380px;
    margin-bottom: 30px;
    text-align: left;
    width: 300px;
    overflow: hidden;
}

.text2 {
    color: black;
    font-size: 18px;
    margin-bottom: 480px;
    margin-left: 380px;
    text-align: left;
    width: 250px;
    overflow: hidden;
}

.container {
    position: relative;
}

.button {
    position: absolute;
    bottom: 120px;
    right: 290px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80px;
    height: 7px;
    border: 50px;
    border-radius: 2px;
    padding: 20px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color:black;
    overflow: hidden;
}

.img {
    position: absolute;
    left: 10px;
    bottom: 90px;
    width: 350px;
    height: 350px;
}


 /* @media (min-width: 1440px) {
    .main-container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px;
    }

    .error-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .img {
        max-width: 100%;
    }
}

@media (min-width: 375px) {
    .main-container {
        margin: 40px;
    }

    .error-message {
        margin: 30px 0;
    }

    .error-container {
        padding: 30px;
    }

    .text1 {
        font-size: 28px;
    }

    .text2 {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }
} */