.main-container {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

/* .message {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.error {
    color: black;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    text-align: left;
}

h1 {
    font-size: 18px;
    text-align: left;
    overflow: hidden;
}

p {
    font-size: 10px;
    text-align: center;
    color: gray;
    overflow: hidden;
    margin-top: 20px;
}

.text1 {
    color: black;
    font-size: 28px;
    text-align: left;
    width: 300px;
    overflow-wrap: break-word;
}

.text2 {
    color: black;
    font-size: 18px;
    text-align: left;
    overflow-wrap: break-word;
}

.button {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 10px;
    border: 50px;
    border-radius: 2px;
    padding: 10px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    overflow: hidden;
}

.img {
    max-width: 100%;
    width: 350px;
    height: 350px;
}

@media (min-width: 1440px) {
    .main-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .error {
        color: black;
        display: flex;
        flex-direction: column;
    }
    .text2 {
        color: black;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    overflow-wrap: break-word;
    }
}

@media (max-width: 375px) {
    .main-container {
        flex-direction: column;
        margin-top: 10px;
        height: 80vh;
        width: 100%;
        overflow-wrap: break-word;

    }
    .img {
        width: 150px;
        height: 150px;
    }
}

